html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 1102.73px;
    height: 698.13px;
    overflow-y: scroll;
    /* padding: 173.21px 137.51px 0 126.93px; */
    background: linear-gradient(29.97deg, #000000 -12.89%, #363636 91.62%);
    border-radius: 132.222px;
    box-shadow: -26.4444px 52.8889px 92.5556px rgba(90, 91, 120, 0.4);
}

.card::-webkit-scrollbar {
    display: none;
}

.card p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22.7333px;
    line-height: 165%;
    color: #ffffff;
    margin: 173.21px 137.51px 0 126.93px;
}


@media only screen and (max-width: 590px) {
    .card{
        width: 433.71px;
        height: 722.86px;
        background: linear-gradient(29.97deg, #000000 -12.89%, #363636 91.62%);
        border-radius: 72.2857px;
        box-shadow: -31.4286px 62.8571px 110px rgba(90, 91, 120, 0.4);
    }
}